
#chatsSection {
    transform: scale(1);
    opacity: 1;
    transition: transform 0.2s ease-out, opacity 0.2s ease-in;
}

#chatsSection.slide-out {
    transform: scale(0.8);
}

#profileSection {
    transform: translateX(100%);
    transition: transform 0.1s ease-in;
}

#profileSection.slide-in {
    transform: translateX(0%);
}

#profileSection.slide-out {
    transform: scale(0.8);
}

#editProfileSection {
    transform: translateX(100%);
    transition: transform 0.15s ease-in;
}

#editProfileSection.slide-in {
    transform: translateX(0%);
}

.animate-ripple {
    animation: ripple 0.5s cubic-bezier(0.40, 0.2, 0.5, 1);
}

@keyframes ripple {
    to {
        transform: scale(15);
        opacity: 0.01;
    }
}

.button-press:active {
    animation: buttonPress 150ms forwards;
}

@keyframes buttonPress {
    0% {
        transform: scale(1);
    }
    80% {
        transform: scale(0.90);
    }
    100% {
        transform: scale(0.93);
    }
}